appdirs==1.4.4
attrs==20.3.0
betamax==0.8.1
betamax-serializers==0.2.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
committee-saframa6==0.3.7
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
flexmock==0.10.4
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
requests==2.25.0
six==1.15.0
toml==0.10.2
tox==3.20.1
urllib3==1.26.2
virtualenv==20.1.0
Werkzeug==1.0.1
